@font-face {
  src: url(./fonts/Roboto.woff);
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f1f3;
}

a {
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}
